html{
color: #242525;
}

/* Copy this @keyframes block to your CSS*/
@keyframes jumpingghost {
    0.0%{
        margin: 15px 15px;
    }
    19.5%{
        margin: 15px 15px;
    }
    29.9%{
        margin: -60px;
    }
    42.5%{
        margin: 15px 15px;
    }
    61.5%{
        margin: -60px;
    }
    72.7%{
        margin: 15px 15px;
    }
    8.5%{
        margin: -60px;
    }
}

/* Add the animation: property to whichever element you want to animate */
#elementToAnimate{
    animation: jumpingghost 7s linear 0s infinite normal none;
}
