 /* mobile responsiveness */
 /* portrait mode */
 
 @media only screen and (max-width: 414px) {
     .home .container .personal {
         transform: translateY(200px);
         margin-left: 0px;
         text-align: center;
     }
     .home .container .avatarContainer {
         position: absolute;
         right: 0px;
         top: 20px;
         left: 50px;
         text-align: center;
     }
     .home .container .avatarContainer #avatar {
         height: 170px;
         width: auto;
     }
     .home .container #AboutMe {
         font-size: 24px;
         margin-right: 0px;
         transform: translateY(10px);
         text-align: center;
         margin-left: 20px;
         margin-right: 20px;
     }
     .home .container .avatarContainer #lock {
         height: 35px;
         width: auto;
     }
     .projects .container {
         margin-left: 30px;
     }
     .projects .container .projectsList {
         height: 300px;
     }
     .projects .container .projectsList li {
         padding: 10px;
     }
     .projects .container .projectsList li .ProjectItem {
         height: 250px;
         width: 250px;
     }
     .projects .container .projectsList li img {
         height: 250px;
         width: auto;
     }
     .projects .container .header {
         font-size: 30px;
     }
     .moreWindow .container {
         position: fixed;
         top: 54px;
         right: 15px;
     }
     .moreWindow .container .window {
         height: 550px;
         width: 340px;
     }
     .moreWindow .container .window #contactHeader {
         font-size: 24px;
     }
     .moreWindow .container .window .links li span {
         padding-right: 120px;
     }
     .footer-text {
         color: #ffffff;
     }
     .footer {
         background: linear-gradient(-45deg, #00ff88, #d400ff, #45e226, #0011ff);
         background-size: 400% 400%;
         animation: gradient 15s ease infinite;
         color: #ffffff;
     }
     @keyframes gradient {
         0% {
             background-position: 0% 50%;
         }
         50% {
             background-position: 100% 50%;
         }
         100% {
             background-position: 0% 50%;
         }
     }
 }
 
 @media only screen and (max-width: 375px) {
     .moreWindow .container .window {
         height: 550px;
         width: 320px;
     }
     .moreWindow .container .window #contactHeader {
         font-size: 22px;
     }
     .moreWindow .container .window .links li span {
         padding-right: 110px;
     }
     .footer-text {
         color: #ffffff;
     }
     .footer {
         background: linear-gradient(-45deg, #00ff88, #d400ff, #45e226, #0011ff);
         background-size: 400% 400%;
         animation: gradient 15s ease infinite;
         color: #ffffff;
     }
     @keyframes gradient {
         0% {
             background-position: 0% 50%;
         }
         50% {
             background-position: 100% 50%;
         }
         100% {
             background-position: 0% 50%;
         }
     }
 }
 
 @media only screen and (max-width: 320px) {
     .home .container .personal {
         transform: translateY(180px);
     }
     .home .container .personal #DisplayName {
         font-size: 56px;
     }
     .home .container .personal .links {
         transform: translateY(-40px);
     }
     .home .container .personal .links li {
         line-height: 40px;
     }
     .home .container .personal .links li a {
         font-size: 18px;
     }
     .home .container .avatarContainer #avatar {
         height: 160px;
         width: auto;
     }
     .home .container #AboutMe {
         font-size: 22px;
         transform: translateY(-20px);
     }
     .home .container .avatarContainer #lock {
         height: 34px;
         width: auto;
     }
     .projects .container {
         margin-left: 20px;
     }
     .projects .container .projectsList {
         height: 250px;
     }
     .projects .container .projectsList li {
         padding: 5px;
     }
     .projects .container .projectsList li .ProjectItem {
         height: 200px;
         width: 200px;
     }
     .projects .container .projectsList li img {
         height: 200px;
         width: auto;
     }
     .projects .container .projectsList li h1 {
         top: -10px;
         left: 10px;
         font-size: 22px;
     }
     .projects .container .projectsList li h1 span {
         font-size: 16px;
     }
     .projects .container .header {
         font-size: 25px;
     }
     .moreWindow .container {
         transform: scale(0.85);
         top: 10px;
         right: 0;
         left: 0;
     }
     .footer-text {
         color: #ffffff;
     }
     .footer {
         background: linear-gradient(-45deg, #00ff88, #d400ff, #45e226, #0011ff);
         background-size: 400% 400%;
         animation: gradient forwards infinite;
         color: #ffffff;
     }
     @keyframes gradient {
         0% {
             background-position: 0% 50%;
         }
         50% {
             background-position: 100% 50%;
         }
         100% {
             background-position: 0% 50%;
         }
     }
 }
 /* main site css */
 
 html {
     color: #ffffff;
 }
 
body,
html {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat center center fixed;
    background-size: 600% 600%;
    animation: gradient 12s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}
 
 .projects {
     background-size: 400% 400%;
     color: #ffffff;
 }
 
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }
 
 .footer-text {
     color: #ffffff;
 }
 
 .links {
     color: #ffffff;
 }
 
 .footer {
     display: grid;
     background: linear-gradient(-45deg, #00ff88, #d400ff, #45e226, #0011ff);
     background-size: 600% 600%;
     animation: gradient 15s infinite;
     color: #ffffff;
 }
 
 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
 }

 .fa-user-circle{
     font-size: 1em;
 }

 .capsule-button {
    color: #ffffff;
    outline: none;
    padding: 11px 16px;
    background-color: #61F1D1;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 800;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
}

.round {
    border-radius: 320px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.accounts-button {
    margin: 1em;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color:#61F1D1;
    color: #fcfcfc;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.squish.accounts-button:hover {
    transform: scale(1);
}

.squish.accounts-button:active {
    transform: scale(1);
    transition: none;
}

.squish.neo-button:hover {
    transform: scale(1);
}

.squish.neo-button:active {
    transform: scale(1);
    transition: none;
}

.buttons {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.big-button {
    margin: 5px;
    -webkit-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    -o-transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
    transition: all 300ms cubic-bezier(0.505, 0.005, 0.250, 1.000);
}

.big-button button {
    padding: 20px 70px;
    font-size: 20px;
}

.big-button button:hover {
    transform: scale(1.05);
    opacity: 80%;
}

.red-button button {
    background-color: #E23838;
}