        /* Make Navbar links full width */
.navbar {
    width: 100%;
}
 
        /* Add a rainbow background color to the top navigation */
 .topnav {
     background: linear-gradient(-45deg, #c8ff00, #ff0000, #4826e2, #23d549);
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
 }

 @keyframes gradient {
     0% {
         background-position: 0% 50%;
     }

     50% {
         background-position: 100% 50%;
     }

     100% {
         background-position: 0% 50%;
     }
 }

         /* Style the links inside the navigation bar */
 .topnav a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
 }

        /* Change the color of links on hover */
 .topnav a:hover,
 .dropdown:hover .dropbtn,
 .dropbtn:focus {
     background-color: #00000000;
     color: #f2f2f2;
 }

        /* Add an active class to highlight the current page */
 .topnav a.active {
     background-color: #00000000;
     color: #f2f2f2;
 }

        /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
     display: none;
 }

        /* Right-aligned section inside the top navigation */
 .topnav-right {
     float: right;
     color: #ffffff;
 }
